<div class="container">
  <br>
  <%= render partial: "refills/our_story" %>
  <br>
  <article>
    <h1>OUTLINE</h1>
    <h3>We met at Jimbo's (it was all a dream)</h3>
    <p>
    The story of Meghan and Chris started like most other love stories, at a party at Jimbo's house in Rhode Island. Legend has it that Meghan's sister, Amy, tried to pair Chris and Meghan that night. Unfortunatley that's not how this story ends; however, Jimbo's is only the beginning of Meghan and Chris' story.
    </p>
    <h3>Remaining friends through all this time</h3>
    <p>
    Meghan and Chris saw each other off and on through Amy and Adam. They hung out at parties, attended get-togethers, etc...
    </p>
    <h3>Move over Virginia, New Hampshire is actually for lovers</h3>
    <p>
    It was a snowy, cold, and dark night in the bitter mountains of New Hampshire. Meghan and Chris went skiing together with a large group of friends. The night of this ski trip is where Meghan and Chris, two people destined for each other, finally fell in love. They spent the night talking about everything, and through this conversation, they realized they couldn't possibly be without each other in life anymore. A few short weeks later it was official, Meghan and Chris were DATING.
    </p>

    <div class="something" style="text-align:center;">
      <%= image_tag("lockers.jpg", style: "height:300px;") %>
      <%= image_tag("miami.jpg", style: "height:300px;") %>
      <%= image_tag("running-winter.jpg", style: "height:300px;") %>
    </div>

    <h3>Oh, the places you'll go</h3>
    <p>
    The relationship between yours truly was filled with many experiences. From getting hit by a car, to moving states away, to moving back to Boston. Meghan and Chris have been everywhere together, enjoying everything life offers -- and experiencing it the way it was meant -- with each other.
    </p>
    <p>
    Meghan was from Connecticut and Chris was from Massachusetts. Thankfully, Meghan's family already knew better, and were sports fans of all boston's teams. The first few years of there relationship was semi-long distance. Meghan was at school in boston, and Chris worked in Cambridge. This allowed them to see each other at least a few times a week. But the summers were difficult, Meghan returned home to Connecticut, and Chris had to remain in Massachusetts. They saw each other every weekend, never wanting to spend time without the other. They even met halfway sometimes just to have dinner in the middle of the week (Hartford).
    </p>
    <p>
    The toughest stage of the relationship was after college. Meghan moved back home to work on the set of the renouned "Jerry Springer Show". Chris still remained in Massachusetts after finding another good job in the area. Again, they had to see each other on the weekends, and endure the grind of driving through multiple states just to see each other for fleeting moments, before returning to their weekly lives.
    </p>

    <div id="js-parallax-window" class="parallax-body-window"
    style="height:600px;">
      <div class="parallax-body-static-content"
      style="margin-top:60px;">
        Oh, the places you'll go
      </div>
      <div id="js-parallax-background" class="our-story-parallax-background"></div>
    </div>

    <h3>The big Move -- Sometimes a failure is an opporunity</h3>
    <p>
    funny thing about opportunity, sometimes its disguised as failure. You see, chris lost his job (like he has many times before). But this gave yours truly an AMAZING opportunity. Chris took the next job he could in NYC and moved immediately down to Black Rock. Finally, they were together.
    </p>

    <p>
    draft (draught) lauter wort top-fermenting yeast lambic racking, " degrees plato hop back." oxidized conditioning tank, abbey autolysis conditioning. cask conditioned ale priming; gravity. trappist rims cask conditioning double bock/dopplebock, dunkle noble hops. autolysis pub additive all-malt pub pilsner hop back bright beer. grainy kolsch chocolate malt racking top-fermenting yeast, pitching saccharification.
    </p>

    <div class="something" style="text-align:center;">
      <%= image_tag("meghan-jumping.gif", style: "height:400px;") %>
      <%= image_tag("chris-jumping.gif", style: "height:400px;") %>
    </div>

    <p>
    terminal gravity; lambic all-malt rims yeast hard cider. bung rims attenuation sparge, " abv," barrel draft (draught. sour/acidic mash tun, berliner weisse; abbey seidel, microbrewery carbonation. noble hops additive. barleywine anaerobic brewhouse seidel malt extract grainy. degrees plato lambic brewing abbey; aroma hops.
    </p>

    <p>
    mouthfeel goblet primary fermentation, wort infusion, conditioning pitch crystal malt additive. seidel black malt caramel malt brew kettle barrel brewhouse oxidized. wit adjunct bottle conditioning finishing hops, mash tun.
    </p>
  </article>
</div>
