<div class="container schedule">
  <%= render partial: "refills/image_gradient_dynamic" %>
  <br>
  <hr>
  <article style="text-align:center;">
    <h1>
      The Schedule of Events for the Weekend
    </h1>
    <p>
      We hope everyone has an amazing time at our wedding and reception <br>
      Please use the list below to help you plan you're time in Connecticut! <br>
      Can't wait to see you all there!
    </p>
  </article>
  <hr>
  <article style="text-align:center;">
    <h1>Saturday, June 11th (The Big Day!!)</h1>
    <p>
      <h2><span class="bold">1:30PM -- Ceremony</span></h2>
      The Ceremony will take place at: <br>
      <%= link_to "St. Ann's Church", "http://stannblackrock.com/" %><br>
      481 Brewster St Bridgeport, CT 06605 <br>
      This is a catholic mass wedding and you should expect the whole ceremony to last around 1 hour.
    </p>
    <p>
      <h2><span class="bold">2:30PM-4:00PM Free Time</span></h2>
      <p>Check into your hotel, relax, powder your nose, etc...</p>
      <%= link_to "New Haven Hotel", "http://www.newhavenhotel.com/" %> <br>
      <p>229 George St, New Haven, CT 06510 <br>
      Parking is around $20 for the night in the garage across the street. (sorry)</p>
      <%= link_to "The Omni", "https://www.omnihotels.com/hotels/new-haven-yale" %> <br>
      <p>155 Temple St, New Haven, CT 06510</p>
    </p>
    <p>
      <h2><span class="bold">4:45 Buses start shuttling to the Venue</span></h2>
      <p>The Buses will be making two trips starting at 4:45 from the hotel to the Venue</p>
    </p>
    <p>
      <h2><span class="bold">5:00PM -- Cocktail Hour / Reception</span></h2>
      Lighthouse Point Park <br>
      2 Lighthouse Road, East Haven, Connecticut 06512
      <p>This venue is right on the beach so it may be a little breezey / cool. <br> Remember to wear something appriopriate! Eat, Drink, and be Merry!</p>
    </p>
    <p>
      <h2><span class="bold">10:30PM - 11:30PM Buses back to Hotel</span></h2>
      <p>The Buses will be making trips starting at 10:30PM from the venue to the hotel</p>
      <p></p>
    </p>
    <p>
      <h2><span class="bold">11:30PM -- After Party</span></h2>
      <%= link_to "Karaoke Heroes", "http://karaokeheroes.net/" %> <br>
      212 Crown St, New Haven, CT 06510

      <p>
        It's right next to New Haven Hotel where the shuttles drop everyone off and we will have pizza there! <br>
        If you still have your wits about you, come join us for some karaoke!
      </p>
    </p>
  </article>
  <article style="text-align:center;">
    <h1>Sunday, June 12th</h1>
    <p>
      <h2><span class="bold">6:30-10:30AM -- Brunch</span></h2>
      you can join us in the New Haven Hotel for a little breakfast. Nothing too facny, just come whenever you want and eat some yum yums. This will be a regular brunch, and its first come first serve.
    </p>
    <p>
      <h2><span class="bold">12:00-EOD -- Black Rock Day!</span></h2>
      We are going to be at Black Rock Day for the rest of the day on Sunday. Its an annual neighborhood celebration. Essentially, a band plays while we hang out on a softball field and drink beers all day. It's generally a good time.
    </p>
  </article>
</div>
