<div class="cards">
  <div class="card">
    <%= link_to page_path("the_venue") do %>
      <div class="card-image">
        <%= image_tag "lighthouse_card.jpg" %>
      </div>
      <div class="card-header">
        The Venue
      </div>
      <div class="card-copy">
        <p>The Lighthouse Point Park at New Haven Connecticut, is an awesome venu. It's really going to be great, you guys.</p>
      </div>
    <% end %>
  </div>

  <div class="card">
    <%= link_to page_path("our_story") do %>
      <div class="card-image">
        <%= image_tag "our_story_card.png" %>
      </div>
      <div class="card-header">
        Our Story
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
  <% end %>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag "ceremony_card.png" %>
    </div>
    <div class="card-header">
      The Ceremony
    </div>
    <div class="card-copy">
      <p>This is where we put some more information about St. Ann's church and how great it is. you know?</p>
    </div>
  </div>
</div>
