<% content_for :javascript do %>
  <script type="text/javascript">
    let context = {};
    context.ceremony = '<%= raw(@ceremony).html_safe %>';
    context.party = '<%= raw(@party).html_safe %>';
    context.getting_ready = '<%= raw(@getting_ready).html_safe %>';
    context.captains_cove = '<%= raw(@captains_cove).html_safe %>';
    App.initialize(context);
    App.runApplication();
  </script>
<% end %>

<div class="container saying" style="text-align:center;">
  <h1 class="pre">Do you remember...</h1>
  <h1 class="saying" style="font-style:italic;">
  </h1>
</div>

<div class='container gallery'>
  <h1>This is the gallery of our wedding</h1>
  <%= link_to "Back To Beginning", "#", class: "back-to-beginning" %>
  <div class="all-images">
  </div>
</div>


<audio loop class="two-of-us" src="<%= audio_path 'intro-song.mp3'%>" type="audio/mpeg"></audio>

<div class='container beginning'>
  <div id="lineDrawing" style="display:none;">
    <%= image_tag 'cpow-and-ghandi-logo.png' %>
  </div>
  <h1 class='someshow'></h1>
  <div class="quote">
    <p class="first">there is something I've been wanting to show you</p>
    <p class="second">I don't think we've had a chance quite yet</p>
    <p class="third">but why don't we do this right now?</p>
    <p class="final">let's take a trip down memory lane...</p>
  </div>
  <div id="links">
    <div class="link-one">
      <%= link_to "Gallery", "#", class: "gallery-button btn" %>
    </div>
    <div class="link-two">
      <%= link_to "Our Dance", "#", class: "video-button btn" %>
    </div>
  </div>
</div>


<div class='container gallery'>
  <h1>This is the gallery of our wedding</h1>
  <%= link_to "Back To Beginning", "#", class: "back-to-beginning" %>
  <div class="all-images">
  </div>
</div>

<div class='container video'>
  <h1>Time of my life...</h1>
  <%= link_to "Back To Beginning", "#", class: "back-to-beginning" %>
  <div class="video-iframe">
  </div>
</div>

<div id="loader" class="container" style="display:none;">
  <h1>LOADING</h1>
</div>
