<%= javascript_include_tag "wedding_experience/show" %>

<audio loop class="two-of-us" src="<%= audio_path 'intro-song.mp3'%>" type="audio/mpeg"></audio>


<div class='container beginning'>
  <div id="lineDrawing" style="display:none;">
    <%= render partial: "logo_again" %>
  </div>
  <h1 class='someshow'></h1>
  <div class="quote">
    <p class="first">there is something I've been wanting to show you</p>
    <p class="second">I don't think we've had a chance quite yet</p>
    <p class="third">but why don't we do this right now?</p>
    <p class="final">let's take a trip down memory lane...</p>
  </div>
  <div id="links">
    <div class="link-one">
      <%= link_to "Gallery", "#", class: "gallery-button" %>
    </div>
    <div class="link-two">
      <%= link_to "Gallery", "#", class: "some-button" %>
    </div>
  </div>
</div>


<div class='container gallery'>
  <h1>This is the gallery of our wedding</h1>
  <%= link_to "Back To Beginning", "#", class: "back-to-beginning" %>
  <div class="all-images">
  </div>
</div>
