<!DOCTYPE html>
<html>
<head>
  <title>GoingToTheChapel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes|Satisfy|Courgette' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render partial: "refills/centered_navigation" %>
<%= yield %>
<%= render partial: "refills/footer_2" %>
<script>
  var bittersMap = (function () {
    var markerImage = '<%= asset_path "loveinterest.png" %>';
    var myLatlng = new google.maps.LatLng(41.252387, -72.901065),
        mapCenter = new google.maps.LatLng(41.252387, -72.901065),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">Lighthouse Point Park</h1>'+
          '<div id="bodyContent"'+
          '<p>06/11/2016</p>'+
          '<a href="http://www.cityofnewhaven.com/parks/parksinformation/lighthousepoint.asp">website</a>' +
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Lighthouse Point Park',
          icon: markerImage
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>
</body>
</html>
