<!DOCTYPE html>
<html>
<head>
  <title>Our Wedding Experience</title>
  <%= stylesheet_link_tag    'wedding-experience', media: 'all'%>
  <%= stylesheet_link_tag    'viewer.min', media: 'all'%>

  <%= javascript_include_tag 'anime.min' %>
  <%= javascript_include_tag 'wedding_experience' %>
  <%= javascript_include_tag 'viewer.min' %>
  <%= javascript_include_tag "wedding_experience/show" %>
</head>
<body>
  <%= yield %>
  <%= yield :javascript %>
</body>
</html>

